@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">
    <font color="@fontColor">Current count: @currentCount</font>
</p>

<RadzenButton Click="@IncrementCount">加算</RadzenButton>
<RadzenButton Click="@DecrementCount">減算</RadzenButton>
  
@code {
    private int currentCount = 0;
    private string fontColor = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
        setFontColor();
    }

    private void DecrementCount()
    {
        currentCount--;
        setFontColor();
    }

    private void setFontColor()
    {
        if (currentCount >= 1 && currentCount <= 5)
        {
            fontColor = "red";
        }
        else
        {
            fontColor = string.Empty;
        }
    }
}

